<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
  </system.web>
  <connectionStrings configSource="Config\ConnectionStrings.teste.config" xdt:Transform="SetAttributes"/>
  <appSettings file="Config\AppSettings.teste.config" xdt:Transform="SetAttributes"  >
    <add key="ArquivosPontofopag" value="C:\Pontofopag\Arquivos" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="hangfireQueues" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
