<?xml version="1.0" encoding="utf-8"?>

<!-- Para obter mais informações sobre o uso da transformação do Web.config, acesse http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    No exemplo abaixo, a transformação "SetAttributes" alterará o valor de
    "connectionString" para usar "ReleaseSQLServer" apenas quando o localizador "Match" 
    encontrar um atributo "name" que tenha um valor de "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      No exemplo abaixo, a transformação "Replace" vai substituir toda a seção
      <customErrors> do seu arquivo Web.confige.
      Observe que como há somente uma seção customErrors no nó 
      <system.web>, não há necessidade de usar o atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=EMPVW02250\HOMST; initial catalog=CentralCliente;user id=pontofopag_app;password=123;Application Name=cwkpontoweb;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="CentralClienteEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\HOMST;initial catalog=CENTRALCLIENTE;persist security info=True;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="cworkpontoadmEntities" connectionString="metadata=res://*/Models.PontoWeb.csdl|res://*/Models.PontoWeb.ssdl|res://*/Models.PontoWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\HOMST; initial catalog=cwkPontoMT;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW02250\HOMST;Initial Catalog=PLATAFORMA_LOGERRO_NOVAFOLHA_TESTE_HOM;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="MonitorPontofopag" connectionString="Data Source=EMPVW02250\homst;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=123;Application Name=HangFire;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="MONITOR_PONTOFOPAGEntities" connectionString="metadata=res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.csdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.ssdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\homst;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=123;asynchronous processing=True;multipleactiveresultsets=True;application name=EntityHangFire&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="IntegracoesApi" value="http://homintegra.employer.com.br/" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="instancia" value="EMPVW02250\HOMST" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="usuario" value="pontofopag_app" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="senha" value="123" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
