<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.PlataformaLog" publicKeyToken="84ac12e9cf61bfdb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.79.0.0" newVersion="2.79.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW0308\PRDst;initial catalog=CENTRALCLIENTE;persist security info=True;user id=pontofopag_app;password=p0nt0f0p@g;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SERVCOM_NETEntities" connectionString="metadata=res://*/Relogios.Dimep.ServComNetModel.csdl|res://*/Relogios.Dimep.ServComNetModel.ssdl|res://*/Relogios.Dimep.ServComNetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW0308\prdst;initial catalog=SERVCOM_NET;persist security info=True;user id=SERVCOMNET;password=serv@!23;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ACEREPEntities" connectionString="metadata=res://*/Relogios.Telematica.CodexRepModel.csdl|res://*/Relogios.Telematica.CodexRepModel.ssdl|res://*/Relogios.Telematica.CodexRepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\DEV;initial catalog=ACEREP;persist security info=True;user id=telessvr;password=SSVRTELE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MONITOR_PONTOFOPAGEntities" connectionString="metadata=res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.csdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.ssdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW0308\PRDst;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=p0nt0f0p@g;asynchronous processing=True;multipleactiveresultsets=True;application name=EntityHangFire&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Log" value="1" />
    <add key="CaminhoLog" value="E:\" />
    <add key="instancia" value="EMPVW0308\PRDst" />
    <add key="usuario" value="pontofopag_app" />
    <add key="senha" value="p0nt0f0p@g" />
    <add key="appName" value="ServicoImportacaoRegistroPonto" />
    <add key="ArquivosPontofopag" value="D:\Pontofopag\Arquivos"/>
  </appSettings>
</configuration>
