################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ponto/.vs/cwkPontoMT
/Ponto/BLL/bin
/Ponto/BLL/obj
/Ponto/BLL_N/bin
/Ponto/BLL_N/obj
/Ponto/CentralCliente/bin
/Ponto/CentralCliente/obj
/Ponto/ComunicadorServico/bin/x86/DebugPRD
/Ponto/ComunicadorServico/obj
/Ponto/Conversor200028para201029/obj
/Ponto/Conversor28R80para28R81/obj
/Ponto/ConversorMultBanco/obj
/Ponto/ConversorSQL/obj
/Ponto/CorrigeEmpresaCopiaIlegal/obj
/Ponto/cwkAtualizadorArquivosComunicadorWebAPIPontoWeb/obj
/Ponto/cwkComunicadorWebAPIPontoWeb/obj
/Ponto/cwkPontoMT.Integracao/bin
/Ponto/cwkPontoMT.Integracao/obj
/Ponto/cwkPontoMT.Integracao.Teste/obj
/Ponto/cwkWebAPIPontoWeb/bin
/Ponto/cwkWebAPIPontoWeb/obj
/Ponto/cwkWebAPIPontoWeb/cwkWebAPIPontoWeb.csproj.user
/Ponto/DAL/bin
/Ponto/DAL/obj
/Ponto/ImportacaoSQL/obj
/Ponto/InstalacaoSQL/obj
/Ponto/Modelo/bin
/Ponto/Modelo/obj
/Ponto/ModeloAux/bin/x86/DebugPRD
/Ponto/ModeloAux/obj/Suporte
/Ponto/ModeloAux/obj/x86
/Ponto/MonitorJobs/bin
*.txt
/Ponto/MonitorJobs/obj
/Ponto/Negocio/bin/x86/DebugPRD
/Ponto/Negocio/obj
/Ponto/packages
/Ponto/ParametrizarComunicadorServico/obj
/Ponto/PontoWeb/bin
/Ponto/PontoWeb/obj
*.user
/Ponto/RegistradorBiometrico/obj
/Ponto/RegistradorPontoWeb/bin
/Ponto/RegistradorPontoWeb/obj/Debug
/Ponto/RegistradorPontoWeb/obj
/Ponto/REL/bin
/Ponto/REL/obj
/Ponto/Teste/obj
/Ponto/TesteProgramacao/bin/DebugPRD
/Ponto/TesteProgramacao/obj/Debug
/Ponto/TesteProgramacao/obj/DebugPRD
/Ponto/TesteProgramacao/obj/DebugSuporte
/Ponto/TesteProgramacao/obj/Suporte
/Ponto/UI/obj
/Ponto/ComunicadorServico/bin/x86/Debug
/Ponto/ModeloAux/obj/Debug
/Ponto/ModeloAux/bin/x86/Debug
/Ponto/Negocio/bin/x86/Debug
/Ponto/TesteProgramacao/bin/Debug
