################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ponto/*/bin
/Ponto/*/obj
*.user
*.suo
/.vs
/Ponto/.vs
/Ponto/packages
/Ponto/*/Debug
