################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ponto/.vs/cwkPontoMT
/Ponto/BLL/bin/x86/DebugSuporte
/Ponto/BLL/obj/x86/DebugSuporte
/Ponto/BLL_N/bin/x86/DebugSuporte
/Ponto/cwkPontoMT.Integracao.Teste/obj/x86
/Ponto/cwkPontoMT.Integracao/obj/x86
/Ponto/cwkPontoMT.Integracao/bin/x86/DebugSuporte
/Ponto/cwkComunicadorWebAPIPontoWeb/obj
/Ponto/cwkAtualizadorArquivosComunicadorWebAPIPontoWeb/obj/x86/Debug
/Ponto/CorrigeEmpresaCopiaIlegal/obj/x86
/Ponto/ConversorSQL/obj/x86/DebugSuporte
/Ponto/ConversorMultBanco/obj/x86
/Ponto/Conversor28R80para28R81/obj/x86/DebugSuporte
/Ponto/Conversor200028para201029/obj/x86
/Ponto/ComunicadorServico/obj/x86
/Ponto/CentralCliente/obj/x86/DebugSuporte
/Ponto/CentralCliente/bin/x86/DebugSuporte
/Ponto/BLL_N/obj/x86
/Ponto/cwkWebAPIPontoWeb/bin
/Ponto/cwkWebAPIPontoWeb/obj
/Ponto/DAL/bin/x86/DebugSuporte
/Ponto/DAL/obj/x86
/Ponto/ImportacaoSQL/obj/x86
/Ponto/InstalacaoSQL/obj/x86
/Ponto/Modelo/bin/x86/DebugSuporte
/Ponto/Modelo/obj/x86/Debug
/Ponto/Modelo/obj/x86/DebugSuporte
/Ponto/ModeloAux/obj/x86
/Ponto/MonitorJobs/bin
/Ponto/MonitorJobs/logs
/Ponto/MonitorJobs/obj
/Ponto/Negocio/obj/x86
/Ponto/packages
/Ponto/ParametrizarComunicadorServico/obj/x86/DebugSuporte/TempPE
/Ponto/PontoWeb/bin
/Ponto/PontoWeb/obj/x86
/Ponto/RegistradorBiometrico/obj/x86/Debug
/Ponto/RegistradorBiometrico/obj/x86/DebugSuporte/TempPE
/Ponto/RegistradorPontoWeb/bin
/Ponto/RegistradorPontoWeb/obj
/Ponto/REL/bin/x86/DebugSuporte
/Ponto/REL/obj/x86/Debug
/Ponto/REL/obj/x86/DebugSuporte/TempPE
/Ponto/REL/obj/x86/DebugSuporte
/Ponto/Teste/obj/x86
/Ponto/TesteProgramacao/obj
/Ponto/UI/obj/x86
*.user
/Ponto/RegistradorBiometrico/obj/x86/DebugSuporte
/Ponto/ParametrizarComunicadorServico/obj/x86/DebugSuporte
