<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
    <!-- Produção-->
   <add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW0308\PRDst;initial catalog=CENTRALCLIENTE;persist security info=True;user id=pontofopag_app;password=p0nt0f0p@g;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
   <add name="ConnCentralCliente" connectionString="Data Source=EMPVW0308\PRDst;initial catalog=CentralCliente;user id=pontofopag_app;password=p0nt0f0p@g;Application Name=cwkpontoweb;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW0309\PRDST;Initial Catalog=PLATAFORMA_LOGERRO_PRD2;Persist Security Info=True;User ID=logerro_app;Password=l0g3770;Application Name=WSIntegracaoLogError;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="MonitorPontofopag" connectionString="Data Source=EMPVW0308\PRDst;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=p0nt0f0p@g;Application Name=HangFire;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="MONITOR_PONTOFOPAGEntities" connectionString="metadata=res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.csdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.ssdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW0308\PRDst;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=p0nt0f0p@g;asynchronous processing=True;multipleactiveresultsets=True;application name=EntityHangFire&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <!--Homologação-->
    <!--<add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=empvw02250\homst;initial catalog=CENTRALCLIENTE;persist security info=True;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ConnCentralCliente" connectionString="Data Source=empvw02250\homst;initial catalog=CentralCliente;user id=pontofopag_app;password=123;Application Name=cwkpontoweb;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW02250\HOMST;Initial Catalog=PLATAFORMA_LOGERRO_NOVAFOLHA_TESTE_HOM;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="MonitorPontofopag" connectionString="Data Source=EMPVW02250\homst;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=123;Application Name=HangFire;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="MONITOR_PONTOFOPAGEntities" connectionString="metadata=res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.csdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.ssdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\homst;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=123;asynchronous processing=True;multipleactiveresultsets=True;application name=EntityHangFire&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />-->
    <!--Desenvolvimento-->
    <!--Para facilitar a alteração de apontamento de ambiente baixar essa extesão do VS https://marketplace.visualstudio.com/items?itemName=GolanAvraham.ConfigurationTransform
      Com essa extensão ela vai fazer a transformação do xml de acordo com a configuração (Release, Debug, Homologacao)
    -->
    <!--<add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=empvw02250\dev;initial catalog=CENTRALCLIENTE_DEV;persist security info=True;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ConnCentralCliente" connectionString="Data Source=empvw02250\dev;initial catalog=CentralCliente_dev;user id=pontofopag_app;password=123;Application Name=cwkpontoweb;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="MonitorPontofopag" connectionString="Data Source=EMPVW02250\DEV;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=123;Application Name=HangFire;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="MONITOR_PONTOFOPAGEntities" connectionString="metadata=res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.csdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.ssdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\DEV;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=123;asynchronous processing=True;multipleactiveresultsets=True;application name=EntityHangFire&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW02250\HOMST;Initial Catalog=PLATAFORMA_LOGERRO_NOVAFOLHA_TESTE_HOM;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />-->
  </connectionStrings>
  <appSettings>
    <!--Produção-->
    <add key="ApiPontofopag" value="http://api.pontofopag.com.br/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiPaineldoRH" value="http://webapi.paineldorh.com.br/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UserHangfire" value="comercial" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="instancia" value="EMPVW0308\PRDST" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="usuario" value="pontofopag_app" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="senha" value="p0nt0f0p@g" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ArquivosPontofopag" value="C:\Pontofopag\Arquivos"/>
    
    <!--Homologação-->
    <!--<add key="ApiPontofopag" value="http://homwebapi.pontofopag.com.br/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiPaineldoRH" value="http://webapiteste.paineldorh.com.br/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UserHangfire" value="homemployer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="instancia" value="EMPVW02250\HOMST" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="usuario" value="pontofopag_app" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="senha" value="123" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ArquivosPontofopag" value="C:\Pontofopag\Arquivos"/>-->

    <!--Desenvolvimento-->
    <!--<add key="ApiPontofopag" value="http://devapi.pontofopag.com.br" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiPaineldoRH" value="http://webapiteste.paineldorh.com.br/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UserHangfire" value="devemployer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="instancia" value="EMPVW02250\dev" xdt:Locator="Match(key)" />
    <add key="usuario" value="pontofopag_app" xdt:Locator="Match(key)" />
    <add key="senha" value="123" xdt:Locator="Match(key)" />
    <add key="ArquivosPontofopag" value="C:\Pontofopag\Arquivos"/>
    -->
    
    
  </appSettings>
  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
