<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ApiPontofopag" value="http://supapi.pontofopag.com.br/" />
  <add key="ApiPaineldoRH" value="http://supwebapi.paineldorh.com.br/" />
  <add key="UserHangfire" value="comercial" />
  <add key="instancia" value="EMPVW0307\SUP308" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="123" />
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://suporte.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=v0KWTzbPHilvNBdh+1BcXQEHK7NUy+GE1YFiH72aCZA=" />
  <add key="UrlApiMongo" value="https://api.mongo.webfopag.com.br/"/>
  <add key="UserApiMongo" value="ApiMongo" />
  <add key="PasswordApiMongo" value="secret" />
</appSettings>