<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ApiPontofopag" value="http://api.pontofopag.com.br/" />
  <add key="ApiPaineldoRH" value="http://webapi.paineldorh.com.br/" />
  <add key="ApiWebfopagV1" value="http://webapi.webfopag.com.br/V1/" />
  <add key="UserHangfire" value="comercial" />
  <add key="instancia" value="EMPVW0308\PRDST" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="p0nt0f0p@g" />
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://pontofopag.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Qxqsw5J0qSWOox8sRd0xoLM5VVXEc8SELpoS/vwGaSE=" />
  <add key="ApiWebfopagV1" value="http://webapi.webfopag.com.br/v1/" />
</appSettings>