<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ApiPontofopag" value="http://testeapi.pontofopag.com.br/" />
  <add key="ApiPaineldoRH" value="http://webapiteste.paineldorh.com.br/" />
  <!--<add key="ApiWebfopagV1" value="http://testeapi.webfopag.com.br/V1/" />-->
  <add key="ApiWebfopagV1" value="http://testeapi.webfopag.com.br/V1/" />
  <add key="UserHangfire" value="testeemployer" />
  <add key="instancia" value="EMPVW02215\PRE308" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="123" />
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://hompontofopag.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=k7i3iaDtwESrL5cvYteheSlWOtb3tWupiF1ttHSsMlE=" />
  <add key="UrlApiMongo" value="https://teste.api.mongo.webfopag.com.br/"/>
  <add key="UserApiMongo" value="ApiMongo" />
  <add key="PasswordApiMongo" value="secret" />
  <add key="RabbitMQHost" value="10.2.0.60" />
  <add key="RabbitMQPort" value="6004" />
  <add key="RabbitMQUserName" value="guest" />
  <add key="RabbitMQPassword" value="guest" />
  <add key="RabbitMqHostNameCalculo" value="10.2.0.60"/>
  <add key="RabbitMqPortCalculo" value="5672"/>
  <add key="RabbitMqUserNameCalculo" value="guest"/>
  <add key="RabbitMqPasswordCalculo" value="guest"/>
</appSettings>