<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ApiPontofopag" value="http://devapi.pontofopag.com.br" />
  <add key="ApiPaineldoRH" value="http://webapiteste.paineldorh.com.br/" />
  <add key="ApiWebfopagV1" value="http://devwebapi.webfopag.com.br/V1/" />
  <add key="UserHangfire" value="devemployer" />
  <add key="instancia" value="EMPVW02215\DEV308" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="123" />
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://hompontofopag.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=k7i3iaDtwESrL5cvYteheSlWOtb3tWupiF1ttHSsMlE=" />
  <add key="ApiWebfopagV1" value="http://homwebapi.webfopag.com.br/v1/" />
  <add key="RabbitMqHostName" value="10.2.0.60"/>
  <add key="RabbitMqPort" value="5672"/>
  <add key="RabbitMqUserName" value="guest"/>
  <add key="RabbitMqPassword" value="guest"/>
</appSettings>