<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW0307\SUP308;initial catalog=CENTRALCLIENTE;persist security info=True;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ConnCentralCliente" connectionString="Data Source=EMPVW0307\SUP308;initial catalog=CentralCliente;user id=pontofopag_app;password=123;Application Name=cwkpontoweb;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
  <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW0309\PRDST;Initial Catalog=PLATAFORMA_LOGERRO_PRD2;Persist Security Info=True;User ID=logerro_app;Password=l0g3770;Application Name=WSIntegracaoLogError;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <add name="MonitorPontofopag" connectionString="Data Source=EMPVW0307\SUP308;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=123;Application Name=HangFire;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
  <add name="MONITOR_PONTOFOPAGEntities" connectionString="metadata=res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.csdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.ssdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW0307\SUP308;initial catalog=MONITOR_PONTOFOPAG;user id=pontofopag_app;password=123;asynchronous processing=True;multipleactiveresultsets=True;application name=EntityHangFire&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>