<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SERVCOM_NETEntities" connectionString="metadata=res://*/Relogios.Dimep.ServComNetModel.csdl|res://*/Relogios.Dimep.ServComNetModel.ssdl|res://*/Relogios.Dimep.ServComNetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=empvw5204\prdst;initial catalog=SERVCOM_NET;persist security info=True;user id=SERVCOMNET;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\HOM308;initial catalog=CENTRALCLIENTE;persist security info=True;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>