@model IEnumerable<Modelo.FuncionarioRFID>
@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/_LayoutConsulta.cshtml";
}
<table id="tbSel" class="table table-striped table-bordered table-hover table-condensed nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>RFID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RFID</td>
                </tr>
            }
</table>
