@model Modelo.FuncionarioRFID
@using System.Web.Optimization

@{
    ViewBag.Title = "Histórico do RFID do Funcionario";
    Layout = null;
    var nomeTabela = "FuncionarioRFID";
}

<div class="divCenterMedio">
    <div class="panel panel-default" style="padding:0; margin-bottom:0px;">
        <div class="panel-heading">
            @Html.ActionLink("X", "Grid", "FuncionarioRFID", null, new { @class = "close" })
            <h3 class="panel-title titulo-pagina">@ViewBag.Title</h3>
        </div>
        <div class="panel-body panelConteudo" id="panelBodyFixo">
       
            <div class="row">
                @Html.GridFor(nomeTabela, Model.GetType(), false, nomeTabela, "DadosGrid/" + Model.IdFuncionario)
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12 center-block">
                    <div style="text-align: right">
                        <a href="#" id=""  onclick="FecharModalRFID()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Fechar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function FecharModalRFID() {
        $("#divLoadCadastroModal").modal('hide');
    }
</script>
