@model IEnumerable<Modelo.Departamento>
@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/_LayoutConsulta.cshtml";
}
<table id="tbSel" class="table table-striped table-bordered table-hover table-condensed nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Empresa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Codigo">
                <td>@item.Codigo</td>
                <td>@item.Descricao</td>
                <td>@item.empresaNome</td>
            </tr>
        }
</table>
           