@using Microsoft.AspNet.Identity   
@if (Request.IsAuthenticated)
{
            
                <ul class="nav navbar-nav">
                   
                    <li>@Html.ActionLink("Estações", "Index", "Gerenciamento")</li>
                    <li class="active">@Html.ActionLink("Funcionários", "Index", "Funcionario")</li>
                    <li>@Html.ActionLink("Relatórios", "Index", "RelatorioBloqueios")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                </ul>
           
}