@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert">x</a>
        @Html.ValidationSummary(false)
    </div>
}
