<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Etec.Utils" value="https://pkgs.dev.azure.com/employertec/Etec.Utils/_packaging/Etec.Utils/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Etec.Utils>
      <add key="Username" value="Etec.Utils" />
      <add key="ClearTextPassword" value="flekapgnngqnjpbbbxhnglcufqniopctaejhdyhgvm2jvx6ungca" />
    </Etec.Utils>
  </packageSourceCredentials>
</configuration>