<div class="divCenterPequeno">
    <div class="panel panel-danger">
        <div class="panel-heading">
            @Html.ActionLink("X", "Index", "Home", null, new { @class = "close" })
            <h3 class="panel-title titulo-pagina">Ops! Erro encontrado ao executar a operação.</h3>
        </div>
        <div class="panel-body">
            <h2 class="alert-danger" style="text-align:center">@ViewBag.Erro</h2>
            <div class="well">Se essa é a primeira vez que o erro ocorre por favor refaça a operação, caso o erro persista por favor entrar em contato com o suporte.</div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12 center-block">
                    <div style="text-align: right">
                        <a href="javascript:history.go(-1)" class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar</a>
                        @*<a href="#" id="btFechar" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Fechar</a>*@
                        <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Home")'"><span class="glyphicon glyphicon-remove"></span>&nbsp;Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btFechar').on("click", function () {
            var url = "/Home/Index/" + 0;
            window.location = url;
        });
    })
</script>