
@{
    ViewBag.Title = "Página não Encontrada";
}
<div class="container">
    <br />
    <div class="well well-lg"><h2 class="label-warning" style="text-align:center">@ViewBag.Erro</h2></div>

</div>