<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="instancia" value="empvw0308\prdst" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="p0nt0f0p@g" />
  <add key="UserHangfire" value="comercial"/>
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://pontofopagprd.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=tbeN5T1tNuhJJTr41jMg+MyWkp3cKiMHSc+r5lcSyCk=" />
  <add key="ApiWebfopagV1" value="http://webapi.webfopag.com.br/v1/" />
  <add key="RabbitMQHost" value="amqp.webfopag.com.br" />
  <add key="RabbitMQPort" value="5672" />
  <add key="RabbitMQUserName" value="pontofopagapp" />
  <add key="RabbitMQPassword" value="@Pontofopag*#2020" />

  <add key="AzureWebJobsStorage" value="DefaultEndpointsProtocol=https;AccountName=prdintegradorpontofopag;AccountKey=eYc2FTFCoZqG4BLcK9pdEY8G8VKW9cmY/W6anSyLY+56uAIU7wuAL+Ybb1z9Ux1v2T6hbOVCZHa+WP525uDqkw==;EndpointSuffix=core.windows.net" />
  <add key="ApiIntegradorEpays" value="https://prd-integrador-pontofopag.azurewebsites.net"/>
  <add key="ApiIntegradorKeyEpays" value="LNNG9EP1of6WuqTaIaEiKSq7jVuXwxSMew8dz1sMDZQz4ya/P/tENA=="/>
</appSettings>