<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="instancia" value="empvw02210\hom308" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="123" />
  <add key="UserHangfire" value="homemployer"/>
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://hompontofopag.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=k7i3iaDtwESrL5cvYteheSlWOtb3tWupiF1ttHSsMlE=" />
  <add key="ApiWebfopagV1" value="http://homwebapi.webfopag.com.br/v1/" />
</appSettings>