<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="instancia" value="EMPVW02215\PRE308" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="123" />
  <add key="UserHangfire" value="testeemployer"/>
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://hompontofopag.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=k7i3iaDtwESrL5cvYteheSlWOtb3tWupiF1ttHSsMlE=" />
  <add key="ApiWebfopagV1" value="http://testewebapi.webfopag.com.br/v1/" />
</appSettings>