<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="instancia" value="empvw0308\prdst" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="p0nt0f0p@g" />
  <add key="UserHangfire" value="comercial"/>
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://pontofopagprdteste.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=shUwp8XuiAWFYSvkkZpJ5bfP4xl8vgsCtKr+2phabLI=" />
  <add key="ApiWebfopagV1" value="http://webapi.webfopag.com.br/v1/" />
</appSettings>