<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="instancia" value="EMPVW0307\SUP308" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="p0nt0f0p@g" />
  <add key="UserHangfire" value="comercial"/>
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://suporte.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=v0KWTzbPHilvNBdh+1BcXQEHK7NUy+GE1YFiH72aCZA=" />
</appSettings>