<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="MonitorPontofopag" connectionString="Data Source=EMPVW02250\HOM308;initial catalog=MONITOR_PONTOFOPAG_CALCULO;user id=pontofopag_app;password=123;Application Name=HangFire;MultipleActiveResultSets=true;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
  <add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\HOM308;initial catalog=CENTRALCLIENTE;persist security info=True;user id=pontofopag_app;password=123;Application Name=HangFire;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MONITOR_PONTOFOPAGEntities" connectionString="metadata=res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.csdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.ssdl|res://*/EntityFramework.MonitorPontofopag.MONITOR_PONTOFOPAGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\HOM308;initial catalog=MONITOR_PONTOFOPAG_CALCULO;user id=pontofopag_app;password=123;asynchronous processing=True;multipleactiveresultsets=True;application name=EntityHangFire&quot;" providerName="System.Data.EntityClient" />
  <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=empvw02250\hom;Initial Catalog=PLATAFORMA_LOGERRO_NOVAFOLHA_TESTE_HOM;Persist Security Info=True;User ID=logerro_app;Password=123;Application Name=HangFire;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>