<div id='modalDadosAdicionais' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-lg' @*style='width: 70%;'*@>
        <!-- Modal content-->
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss="modal">&times;</button>
                <h4 class='modal-title'>Dados Adicionais</h4>
            </div>
            <div class='modal-body'>
                <div id="divConteudoEmail">
                </div>
            </div>
        </div>
    </div>
</div>