<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="IntegracoesApi" value="http://devintegra.employer.com.br/" />
  <add key="instancia" value="EMPVW02215\DEV308" />
  <add key="usuario" value="pontofopag_app" />
  <add key="senha" value="123" />
  <add key="WebServicePainel" value="https://stshom.employer.com.br" />
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://pontofopaghom.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=buh52Ixk1J6ci1wkmYQhibhtWXQtFxiHbvkAeZUcklM=" />
  <add key="ApiWebfopagV1" value="http://homwebapi.webfopag.com.br/v1/" />
</appSettings>