<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApiTimeZone" value="http://api.timezonedb.com/" />
    <!--Ambiente PRD-->
    <add key="WebServicePainel" value="http://sts.employer.com.br" />
    <!--Ambiente Hom-->
    <!--<add key="WebServicePainel" value="http://stshom.employer.com.br" />-->
    <add key="AppID" value="66975E96-4615-4551-BD42-1A7815158D67" />
    <!--URLs ambiente teste-->
    <!--<add key="WebServicePainel" value="http://sts.employer.com.br" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5.1" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--Ambiente PRD--><!--Ambiente Hom-->
    <!--<add name="PontofopagEntities" connectionString="metadata=res://*/Models.Ponto.Pontofopag.csdl|res://*/Models.Ponto.Pontofopag.ssdl|res://*/Models.Ponto.Pontofopag.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\HOM308;initial catalog=PONTOFOPAG_EMPLOYER;persist security info=True;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02250\HOM308;initial catalog=CENTRALCLIENTE;persist security info=True;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Ambiente Dev-->
    <!--<add name="PontofopagEntities" connectionString="metadata=res://*/Models.Ponto.Pontofopag.csdl|res://*/Models.Ponto.Pontofopag.ssdl|res://*/Models.Ponto.Pontofopag.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02215\DEV308;initial catalog=PONTOFOPAG_EMPLOYER_dev;persist security info=True;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMPVW02215\DEV308;initial catalog=CentralCliente;persist security info=True;user id=pontofopag_app;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="PontofopagEntities" connectionString="metadata=res://*/Models.Ponto.Pontofopag.csdl|res://*/Models.Ponto.Pontofopag.ssdl|res://*/Models.Ponto.Pontofopag.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=empvw0308\prdst;initial catalog=PONTOFOPAG_MODELO;persist security info=True;user id=pontofopag_app;password=p0nt0f0p@g;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CENTRALCLIENTEEntities" connectionString="metadata=res://*/CentralClienteModel.csdl|res://*/CentralClienteModel.ssdl|res://*/CentralClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=empvw0308\prdst;initial catalog=CENTRALCLIENTE;persist security info=True;user id=pontofopag_app;password=p0nt0f0p@g;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>