<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Trab.</th>
            <td><input type="checkbox" name="chk_trab01" id="chk_trab01" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_trab02" id="chk_trab02" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_trab03" id="chk_trab03" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_trab04" id="chk_trab04" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_trab05" id="chk_trab05" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_trab06" id="chk_trab06" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_trab07" id="chk_trab07" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_trab08" id="chk_trab08" class="form-check-input" value=""></td>
        </tr>
        <tr>
            <th scope="row">Folga</th>
            <td><input type="checkbox" name="chk_folga01" id="chk_folga01" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_folga02" id="chk_folga02" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_folga03" id="chk_folga03" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_folga04" id="chk_folga04" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_folga05" id="chk_folga05" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_folga06" id="chk_folga06" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_folga07" id="chk_folga07" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_folga08" id="chk_folga08" class="form-check-input" value=""></td>
        </tr>
        <tr>
            <th scope="row">DSR</th>
            <td><input type="checkbox" name="chk_dsr01" id="chk_dsr01" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_dsr02" id="chk_dsr02" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_dsr03" id="chk_dsr03" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_dsr04" id="chk_dsr04" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_dsr05" id="chk_dsr05" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_dsr06" id="chk_dsr06" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_dsr07" id="chk_dsr07" class="form-check-input" value=""></td>
            <td><input type="checkbox" name="chk_dsr08" id="chk_dsr08" class="form-check-input" value=""></td>
        </tr>
    </tbody>
</table>
